.pro-sidebar>.pro-sidebar-inner {
    background: none;
    color: black;
    height: 100%;
    z-index: 1009;
    display: flex;
    justify-content: center;
   
}

.pro-sidebar .pro-menu>ul>.pro-sub-menu>.pro-inner-list-item {
    background: white;
    color: black;
}

.pro-sidebar .pro-menu .pro-menu-item>.pro-inner-item:hover {
    color: black;
}

.pro-sidebar .pro-menu.shaped .pro-menu-item>.pro-inner-item>.pro-icon-wrapper {
    background: none;
    color: black;
}

.pro-sidebar .pro-menu .pro-menu-item>.pro-inner-item:focus {
    color: black;
}

.sidebar {
    margin: 70px 0px;
}
.sub_menu{
    width: 250px;
}
.sub_menu_item{
    margin-left: 10px;
}
.sub_menu_icon{
    margin-top: 10px;
}
.footer a{
    text-decoration: none;
    color: #908f8f;
}
.footer a::marker{
    color: #908f8f;
}
.sub_custom{
    position: relative;
    right: 10px;
}
/* .pro-sidebar{
    width: 200px;
    min-width: 200px;
} */
.pro-sidebar .pro-menu{
    padding: 0;
}
.pro-sidebar .pro-menu .pro-menu-item>.pro-inner-item {
    padding: 8px 43px 8px 15px;
    
}
.pro-sidebar .pro-menu .pro-menu-item.pro-sub-menu .pro-inner-list-item .pro-inner-item .pro-arrow-wrapper{
    display: block;
}
.pro-menu ,.shaped, .square ul{
    list-style: none;
}
.pro-menu,.shaped,.square ul li{
    list-style: none;
}

.subMenu-icon {
    position: relative;
    left: 24px;
    margin-top: 11px;
    margin-right: 25px;
}

.pro-sidebar .pro-menu .pro-menu-item.pro-sub-menu .pro-inner-list-item .pro-inner-item:before {
    display: none;
}
.pro-sidebar .pro-menu > ul > .pro-sub-menu > .pro-inner-list-item > div > ul{
    padding-top: 0px;
}
#sidebar{
    margin-top: 30px;
    margin-bottom: 10px;
    position: relative;
    left: 65px;
    
}