.navBottomContainer {
    border-bottom: 1px solid lightgray;
    height: 35px;
    padding-top: 3px;
    
}
.navItem p {
    font-size: 15px;
    font-weight: 400;
    cursor: pointer;
}
.selected {
    border-bottom: 2px solid rgb(67, 108, 241);
}
.navItem p:hover {
    border-bottom: 2px solid rgb(67, 108, 241);
}