.hero-box{
    position: relative;
    margin-top: 15px;
    border-radius: 10px;
}
.hero-img img{
    width: 540px;
}
.hero-content{
    padding: 10px 15px;
}
/* .details{
    margin-top: 15px;
} */
.overlay-text h2{
    position: absolute;
    top:17px;
    left: -8px;
    color: white;
    font-size: 25px;
    background-color: red;
    border-radius: 20px;
    padding: 4px 31px;

}

.hero-container{
    width:600px;
    margin-left: 10px;
}
.divider{
    border: 1px solid #6C757D;
    height: 17px;
    margin-top: 4px;
}