.hero-box{
    position: relative;
    margin-top: 10px;
    border-radius: 10px;
    background: #f9ccb040;
    
}
.hero-img img{
    width: 515px;
    height: 270px;
}
.hero-info{
padding: 0 10px;
  
}
/* .details{
    margin-top: 15px;
} */
.author_logo{
    width: 40px;
    margin-top: 20px;
}
.pd-details{
    margin-left: 10px;
}
.overlay-text h2{
    position: absolute;
    top:17px;
    left: -8px;
    color: white;
    font-size: 25px;
    background-color: red;
    border-radius: 20px;
    padding: 4px 31px;

}
.add-box{
    margin-left: 25px;
    width: 160px;
}
.add-box img{
    width: 160px;
    margin-top: 30px;
    margin-left: 0px;
}
.pd-details{
    margin-bottom: 0px;
}


.hero-container{
    width:515px;
}
.divider{
    border: 1px solid #6C757D;
    height: 14px;
    margin-top: 6px;
}

.details{

    cursor: pointer;
}
.hero-mid{
    margin-top: -6px;
}
.price{
    margin-top: -10px;
}
.last{
    margin-top: -5px;
}