.hero-box{
    position: relative;
    margin-top: 10px;
    border-radius: 10px;
    background: #f9ccb040;
    
}
.hero-img img{
    width: 515px;
    height: 270px;
}
.hero-info{
padding: 0 7px;
  
}
/* .details{
    margin-top: 15px;
} */
.author_logo{
    width: 40px;
    margin-top: 20px;
}
.pd-details{

    width: 450px;
}
.overlay-text h2{
    position: absolute;
    top:17px;
    left: -8px;
    color: white;
    font-size: 25px;
    background-color: red;
    border-radius: 7px;
    padding: 4px 31px;

}
.container-custom{
    width: 515px;
}
.hero-container{
    width: 515px;
}
.add-box img{
    width: 160px;
    margin-top: 35px;
    margin-left: 25px;
}
.hero-icons b{
    font-size: 17px;
}


/* media queries */
/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {

    
    .add-box{
        display:none;
    }
    .hero-nav{
        display:none;
    }
    .container-custom{
        width: 300px;
    }
    .hero-container{
        width: 300px;
    }
    .pd-details{
        width: 300px;
    }
    .hero-img img{
        width: 300px;
        height: 270px;
    }
    
  }
  
  /* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
  */
  
  @media (min-width: 320px) and (max-width: 480px) {
    
    .add-box{
        display:none;
    }
    .hero-nav{
        display:none;
    }
    .container-custom{
        width: 300px;
    }
    .hero-container{
        width: 450px;
    }
    .pd-details{
        width: 300px;
    }
    .hero-img img{
        width: 300px;
        height: 270px;
    }
    
  }
  