.font{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
/*  */
.btnColor {
  background-color: #149777;
  border: 1px solid #149777;
}
.btnColor:hover {
  background-color: #22a584;
  border: 1px solid #149777;
}
.outLined {
  border: none !important;
}

body{
  background-color: #EAEFF5;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}